.navigation-bar ul {
  padding: 0px;
  margin: 0px;
  float: right;
  display:block;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: right;
  padding:10px;
}

li a {
  display: block;
  color: #8733A3;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  background-color:white;
}
.hero-image {
  height:400px;
 
}
.hero{
margin-top:350px;
}
#Hero{
  display:flex;
  flex-direction: column;
  align-items:center;
  background-color:#FFF6E8;
  color:#4A1C59;
}
.heroo{
  position: relative;
  text-align: center;
}
.herotext{
  position: absolute;
  top: 288px;
  left: 190px;
}
.subtext{
  position: absolute;
  top: 355px;
  left: 190px;
}
.herobutton{
  position: absolute;
  top:460px;
  left:190px;
  background-color:#8733A3;
  color: white;
  height:60px;
  width:180px;
  border-radius:25px;
  font-size:18px;
  
}

.Feeding{
  grid-area:"myArea";
}
.word{
  display:flex;
  flex-direction:row;
  padding:10px;
  width:100%;
  margin:10px;
  align-items:center;
  color: #4A1C59;}
 
.Blurb{padding:40px;}
.hero{
  display:flex;
  flex-direction: column;
  align-items:center;
  background-color:#4A1C59;
  color:white;
}


.flexContainer{
  display:flex;
  flex-direction:row;
  align-items:center;
}
#Child1{
  display:flex;
  flex-direction:column;
  padding:10px;
  width:33%;
  margin:50px;
  align-items:center;
}
#Child2{
  display:flex;
  flex-direction:column;
  padding:10px;
  width:33%;
  margin:50px;
  align-items:center;
}
#Child3{
  display:flex;
  flex-direction:column;
  padding:10px;
  width:33%;
  margin:50px;
  align-items:center;
}
#Child4{
  display:flex;
  flex-direction:column;
  padding:10px;
  width:33%;
  margin:50px;
  align-items:center;
}
p{
  font-size:15pt;
}
p1{
  font-size:15pt;
  color:#4A1C59;
}
h3{
  font-size:22pt;
}
h1{
  font-size:27pt;
  color:#8733A3;
}
h2{
font-size:27pt;
  color:#8733A3;
text-align:center;
padding:45px}
h5{
  font-size:48px;
  color: #FFC839;
}
h6{
  font-size:30px;
  color:white;
  padding:none;
}

#h7{
  font-size:3opx;
  color:black;
  font-family:"Poppins";
  margin:45px;
  padding:10px;
  text-align:center;
}

#Button5{
  width:40%;
  margin-left:30%;
  margin-right:30%;
  color:white;
  background-color:#8733A3;
  text-align:center;
  border-radius:25px;
  font-family:"Poppins";
}
#Button4{
  width:60%;
  margin-left:20%;
  margin-right:20%;
  background-color:#8733A3;
  color: white;
  height:60px;
  width:180px;
  border-radius:25px;
  font-family:"Poppins";
}
#Button3{
  width:60%;
  margin-left:20%;
  margin-right:20%;
  background-color:#8733A3;
  color: white;
  height:60px;
  width:180px;
  border-radius:25px;
  font-family:"Poppins";
}
#Button2{
  width:50%;
  margin-left:20%;
  margin-right:20%;
  background-color:#8733A3;
  color: white;
  height:60px;
  width:180px;
  border-radius:25px;
  font-family:"Poppins";
}
#Button1{
  width:60%;
  margin-left:20%;
  margin-right:20%;
  background-color:#8733A3;
  color: white;
  height:60px;
  width:180px;
  border-radius:25px;
  font-family:"Poppins";
}
@media only screen and (max-width: 600px) {
  body {
    display:flex;
    flex-direction:column;
  }}